<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

<div class="reviews-container">
  <h1 style="text-align: center; margin-top: 40px;margin-bottom: 30px; font-size: 36px"> Estacionamiento Los Rosales</h1>
  <div class="parking-info">
  </div>
  <h1 style="font-size: 20px;margin-top: 40px; text-align: center"> Estacionamiento abierto las 24 horas, cuenta con vigilancia por camaras de seguridad y brinda 100 espacios de estacionamiento</h1>
  <div class="user-review-box-container">
    <div class="review-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="assets/cliente1.jpg">
          </div>
          <div class="name-user">
            <strong> Daniel Herrera</strong>
            <span>@danher1998</span>
          </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>

      <div class="client-comment">
        <p> Considero que el lugar es muy seguro, deje mi vehiculo y no tuve problemas. Sin embargo, se puede mejorar la limpieza del estacionamiento</p>
      </div>
    </div>
  </div>
  <div class="user-review-box-container">
    <div class="review-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="assets/cliente2.jpg">
          </div>
          <div class="name-user">
            <strong> Andrea Olivos</strong>
            <span>@andreaol14</span>
          </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>

      <div class="client-comment">
        <p> La limpieza del lugar deja mucho que desear, tienen que mejorar ese aspecto</p>
      </div>
    </div>
  </div>
  <div class="user-review-box-container">
    <div class="review-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="assets/cliente3.jpg">
          </div>
          <div class="name-user">
            <strong> Juan Puentes</strong>
            <span>@juanpu2000</span>
          </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>

      <div class="client-comment">
        <p> El lugar me parecio perfecto, muy buena vigilancia y buen cuidado de mi vehiculo. Ademas, muy amable la atencion</p>
      </div>
    </div>
  </div>
  <div class="user-review-box-container">
    <div class="review-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="assets/cliente4.jpg">
          </div>
          <div class="name-user">
            <strong> Bruno Perez</strong>
            <span>@brunitopp</span>
          </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>

      <div class="client-comment">
        <p> Buen lugar para dejar tu vehiculo, se aseguran de cuidar bien tu carro y no permiten que salgas sin el ticket de ingreso</p>
      </div>
    </div>
  </div>
</div>

