
<div class="espacio">
  <img class="imagen-redondeada imagen" [src]="perfil" alt="home" width="150" height="150">
  <ul>
    <br><li>Marco Ramirez Ojeda</li>
    <li>Nissan Model XI</li>
  </ul>
</div>

<div  class="espacio">
  <h1 class=" imagen">See Map</h1>
  <img class=" imagen" [src]="mapa" alt="home" width="180" height="180">
  <img class=" imagen" [src]="opciones" alt="home" width="180" height="180">
  <h1 class=" imagen" >Options</h1>
</div>

<div>
  <button class="boton-personalizado"  (click)="onClick()">FIND NEARBY PARKING</button>
</div>
