
.form{
    margin: 50px;
    flex: auto;

}
.user{
    width: 190px;
    height:190px;

    border-radius: 10px;

    border: 2px solid #000000;
    margin: auto;

}

.info{
    padding: 20px 35px;
    margin-top: 20px;
    margin-left: 80px;
    flex-direction: column;
    

}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 100px;
    margin: 10px;
    float: right;

}

.card img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

.btn {
    margin-top:10px;
    flex-direction: column
}

.parking{
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
.boton-personalizado {
    background-color: #b7ffb6;
    color: #000000;
    font-size: 25px;
    padding: 30px 35px;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
}
